<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuvZGyUmeiXLGpoDu7ssRdKLoSu9P280o</string>
	<key>GCM_SENDER_ID</key>
	<string>963497671161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>muzafferse.Clinical-Psychology-3-A</string>
	<key>PROJECT_ID</key>
	<string>clinical-psychology-deu-app</string>
	<key>STORAGE_BUCKET</key>
	<string>clinical-psychology-deu-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963497671161:ios:4b8622c3a686335d396528</string>
</dict>
</plist>